<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/stylesheets/userprofile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
        integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/socket.io/socket.io.js"></script>

</head>

<body>
    <header>
        <div>
            <h1 style="font-size: 34px;">Course Match</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/feed">Home</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">ContactUs</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="profile-details">
            <% if(user.is_online===1){ %>
                <span class="online_status" id="<%=user._id%>-status">online</span>
                <% } else { %>
                    <span class="offline_status" id="<%=user._id%>-status">offline</span>
                    <% } %>
                        <div class="user-info">
                            <a href="/images/uploads/<%=user.profileImage%>">
                                <img src="/images/uploads/<%=user.profileImage%>" alt="">
                            </a>
                            <div class="details">
                                <h2>
                                    <%=user.fullname%>
                                </h2>
                                <p>
                                    <%=user.major%>
                                </p>
                                <p>
                                    <%=user.university%>
                                </p>
                                <p>
                                    Interests: <%=user.interests%>
                                </p>
                                <!-- Add more user details here -->
                            </div>

                        </div>
        </section>
        <div class="outer">
            <div class="timeline">
                <% if (entries && entries.length> 0) { %>
                    <% entries.forEach((entry, index)=> { %>
                        <div class="circular-div">
                            <div class="info">
                                <% if (index===entries.length - 1) { %>
                                    <br>Currently at:<br><strong>
                                        <%= entry.school %>
                                    </strong>
                                    <% } else { %>
                                        <br> Studied at:<br><strong>
                                            <%= entry.school %>
                                        </strong>
                                        <% } %>
                            </div>
                            <div class="dates">
                                <%= entry.batch %>
                            </div>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <div class="circular-div">
                                    <div class="info">
                                        Studied at:<br><strong></strong><br>
                                    </div>
                                    <div class="dates"></div>
                                </div>
                                <div class="circular-div">
                                    <div class="info">
                                        Studied at:<br><strong></strong><br>
                                    </div>
                                    <div class="dates"></div>
                                </div>
                                <% } %>
            </div>
        </div>
        <div class="message-div">
            <div class="feedHistory">
                <h2>Feed History</h2>
                <%user.posts.forEach(function(post){ %>

                    <div class="feedContent">
                        <p class="postContent">
                            <%=post.content%>
                        </p>
                        <div style="display: flex; justify-content: space-between; margin-top: 20px;">
                            <button class="comment-btn">comments</button>
                            <p class="timeDiv">
                                <%= post.formattedCreatedAt%>
                            </p>
                        </div>
                        <div style="display: none;" class="comment-section">
                            <% post.comments.forEach(function(comment){ %>

                                <div>
                                    <div style="display: flex; gap: 10px;margin-top: 10px;">
                                        <img src="/images/uploads<%=comment.profileImage%>" alt="">
                                        <p>
                                            <%=comment.fullname%>
                                        </p>
                                    </div>
                                    <div>
                                        <p>
                                            <%=comment.content %>
                                        </p>
                                    </div>
                                    <p class="timeDiv">
                                        <%=comment.createdAt%>
                                    </p>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <div id="message-box">

                <span class="heading-message-div">
                    <strong>Message to <%= user.username %></strong>
                </span>
                <% chats.forEach(function(chat) { %>

                    <% if (chat.senderId.toString()===currentUser._id.toString()) { %>

                        <div class="chat-bubble current-user-chat" data-id="<%= chat._id %>">
                            <p>
                                <%= chat.message %>
                                    <i class="threeDot fa-solid fa-ellipsis-vertical"></i>
                            </p>
                            <a href="/images/uploads/<%= chat.file %>" download>
                                <%= chat.file %>
                            </a>
                            <span class="timestamp">
                                <%= chat.formattedCreatedAt %>
                            </span>
                            <div class="message-options">
                                <button onclick="removeMessage('<%= chat._id %>')">Remove message</button>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="chat-bubble distance-user-chat" data-id="<%= chat._id %>">
                                <p>
                                    <%= chat.message %>

                                </p>
                                <a href="/images/uploads/<%= chat.file %>" download>
                                    <%= chat.file %>
                                </a>
                            </div>
                            <% }; %>
                                <% }); %>
            </div>
        </div>
        <form onsubmit="submitMessage(event)" enctype="multipart/form-data">
            <input type="text" name="message" placeholder="enter message" id="message-input">
            <input type="file" name="file" id="file-input">
            <button type="submit" value="send message" class="btn btn-primary"></button>
        </form>
    </main>
    <footer>
    </footer>
    <script>


        var sender_id = '<%=currentUser._id%>';

        var socket = io('/user-namespace', {
            auth: {
                token: '<%=currentUser._id%>'
            }
        });
        // Update online users
        socket.on('getOnlineUser', function (data) {
            var onlineUsers = document.getElementById(data.user_id + '-status');
            onlineUsers.innerHTML = 'online';
           
        });

        socket.on('getofflineUser', function (data) {
            var offlineUsers = document.getElementById(data.user_id + '-status');
            offlineUsers.innerHTML = 'offline';

        });



    </script>

    <script src="/javascripts/userprofile.js"></script>
</body>

</html>